body {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/32/da/c2/32dac2fe41bcd70707f7f4256a50b1df.jpg);
  background-size: cover;
  z-index: 1;
  background-color: hsla(150,20%,96%,0.85);
  background-blend-mode: overlay;;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.round-count {
  width: 30px;
  text-align: center;
  border: 2px solid gray;
  font-size: 10px;
  color: white;
  align-items: center;
  justify-content: center;
}

.score {
  width: 125px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  background: #2e2e2e;
  color: white;
  padding: 6x;
}

.main {
  position:relative;
  width:500px;
  height:500px;
  margin:0 auto;
  margin-top: 30px;
}

.quarter {
  position:absolute;
  width:50%;
  height:50%;
  box-shadow: 5px 10px 5px black;
  z-index: 1;
}

.quarter1 {
  top:0;
  left:0;
  background-color:#488214;
  border-radius:100% 0 0 0;
  border: 15px solid #2e2e2e;
}

.quarter2 {
  top:0;
  right:0;
  background-color:#cc0000;
  border-radius:0 100% 0 0 ;
  border: 15px solid #2e2e2e;
}

.quarter3 {
  bottom:0;
  left:0;
  background-color:#e5e500;
  border-radius:0 0 0 100%;
  border: 15px solid #2e2e2e;
}

.quarter4 {
  bottom:0;
  right:0;
  background-color:#4682B4;
  border-radius:0 0 100% 0 ;
  border: 15px solid #2e2e2e;
}

.cutout {
  width:50%;
  height:50%;
  background-color:#2e2e2e;
  position:relative;
  top:25%;
  left:25%;
  border-radius:50%;
  z-index: 2;
  }

.logo {
  width: 70%;
  margin: 16%;
  margin-top: 60px;
}

.score-and-green-button {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: green;
  margin-left: 20px;
  border-style: solid;
  border: 2px solid white;
}

.start-button-hidden {
  display:none;
}

.round-label {
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
}

.try-again-button {
  background-color: green;
  border-style: solid;
  border: 1px solid white;
  color: white;
}

.try-again {
  text-align: center;
}

.try-again-button-hidden {
  display:none;
}

.flash-blue {
  background-color: #63D1F4;
}

.flash-red {
  background-color: #ff0000;
}

.flash-green {
  background-color: #66CD00;
}

.flash-yellow {
  background-color: #ffff00;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    opacity: 0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.game-history-tab {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid green;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  background: white;
  color: black;
  padding: 6x;
  opacity: 0.6;
  cursor:pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.top-3 {
  text-align:center;
  color: white;
  margin-bottom: 30px;
}

.top-score-list {
  color: white;
  text-align: center;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
