body {
  background-image: url("80s-background.jpg");
  background-size: cover;
  z-index: 1;
  background-color: hsla(150,20%,96%,0.85);
  background-blend-mode: overlay;;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.round-count {
  width: 30px;
  text-align: center;
  border: 2px solid gray;
  font-size: 10px;
  color: white;
  align-items: center;
  justify-content: center;
}

.score {
  width: 125px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  background: #2e2e2e;
  color: white;
  padding: 6x;
}

.main {
  position:relative;
  width:500px;
  height:500px;
  margin:0 auto;
  margin-top: 30px;
}

.quarter {
  position:absolute;
  width:50%;
  height:50%;
  box-shadow: 5px 10px 5px black;
  z-index: 1;
}

.quarter1 {
  top:0;
  left:0;
  background-color:#488214;
  border-radius:100% 0 0 0;
  border: 15px solid #2e2e2e;
}

.quarter2 {
  top:0;
  right:0;
  background-color:#cc0000;
  border-radius:0 100% 0 0 ;
  border: 15px solid #2e2e2e;
}

.quarter3 {
  bottom:0;
  left:0;
  background-color:#e5e500;
  border-radius:0 0 0 100%;
  border: 15px solid #2e2e2e;
}

.quarter4 {
  bottom:0;
  right:0;
  background-color:#4682B4;
  border-radius:0 0 100% 0 ;
  border: 15px solid #2e2e2e;
}

.cutout {
  width:50%;
  height:50%;
  background-color:#2e2e2e;
  position:relative;
  top:25%;
  left:25%;
  border-radius:50%;
  z-index: 2;
}

.logo {
  width: 70%;
  margin: 16%;
  margin-top: 60px;
}

.score-and-green-button {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: green;
  margin-left: 20px;
  border-style: solid;
  border: 2px solid white;
}

.start-button-hidden {
  display:none;
}

.round-label {
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
}

.try-again-button {
  background-color: green;
  border-style: solid;
  border: 1px solid white;
  color: white;
}

.try-again {
  text-align: center;
}

.flash-blue {
  background-color: #63D1F4;
}

.flash-red {
  background-color: #ff0000;
}

.flash-green {
  background-color: #66CD00;
}

.flash-yellow {
  background-color: #ffff00;
}

.success-message {
  color: #66CD00;
  text-align: center;
  margin-top: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.8;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.difficulty-toggle {
  margin-top: 20px;
  text-align:center;
}

.difficulty-toggle-hidden {
  display: none;
}

.game-history-tab {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid green;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  background: white;
  color: black;
  padding: 6x;
  opacity: 0.6;
  cursor:pointer;
}

.top-3 {
  text-align:center;
  color: white;
  margin-bottom: 30px;
}

.top-score-list {
  color: white;
  text-align: center;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.score-display {
  color: #66CD00;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 530px) {
    .main {
        width: 375px;
        height: 375px;
  }
    .try-again-button {
        background-color: green;
        border-style: solid;
        border: 1px solid white;
        color: white;
        font-size: 10px;
  }
    .score-and-green-button {
      text-align: center;
      font-size: 10px;
  }

    .difficulty-toggle {
      display:none;
}
